<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Orange HRM Regression Suite">
    <test name="Orange HRM Regression Test cases">
        <classes>
            <class name="com.orangehrmlive.TestNGOrangeHrmLogin">
            </class>
        </classes>
    </test>
</suite>